force-app/main/default/flows/CreateMissingAnimalsCase.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>GetMissingAnimalImage</name>
        <label>GetMissingAnimalImage</label>
        <locationX>396</locationX>
        <locationY>516</locationY>
        <actionName>RestMissingAnimalImageForFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MissingAnimalBreedClassification</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>missingAnimalId</name>
            <value>
                <elementReference>MissingAnimalsIdsLoop</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>MissingAnimalBreedClassification</name>
        <label>MissingAnimalBreedClassification</label>
        <locationX>396</locationX>
        <locationY>636</locationY>
        <actionName>EinsteinForFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ProbabilityThresholdDecision</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>strBase64</name>
            <value>
                <elementReference>GetMissingAnimalImage</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>missingAnimalsIds</name>
        <label>missingAnimalsIds</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <actionName>RestMissingAnimalIdsForFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>MissingAnimalsIdsLoop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddToCaseCollection</name>
        <label>AddToCaseCollection</label>
        <locationX>616</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>CaseCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempCase</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AnimalsWithMatchingBreedLoop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CreateCaseToAdd</name>
        <label>CreateCaseToAdd</label>
        <locationX>616</locationX>
        <locationY>1116</locationY>
        <assignmentItems>
            <assignToReference>TempCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnimalsWithMatchingBreedLoop.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Animal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AnimalsWithMatchingBreedLoop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Origin</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TempCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Match was found</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToCaseCollection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ProbabilityThresholdDecision</name>
        <label>ProbabilityThresholdDecision</label>
        <locationX>396</locationX>
        <locationY>756</locationY>
        <defaultConnector>
            <targetReference>AnimalsWithMatchBreed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TooLowConfidenceLevel</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MissingAnimalBreedClassification</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingAnimalsIdsLoop</targetReference>
            </connector>
            <label>TooLowConfidenceLevel</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>CreateMissingAnimalsCase {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateMissingAnimalsCase</label>
    <loops>
        <name>AnimalsWithMatchingBreedLoop</name>
        <label>AnimalsWithMatchingBreedLoop</label>
        <locationX>528</locationX>
        <locationY>996</locationY>
        <collectionReference>AnimalsWithMatchBreed</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CreateCaseToAdd</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MissingAnimalsIdsLoop</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>MissingAnimalsIdsLoop</name>
        <label>MissingAnimalsIdsLoop</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>missingAnimalsIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetMissingAnimalImage</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Cases</name>
        <label>Create Cases</label>
        <locationX>176</locationX>
        <locationY>1644</locationY>
        <inputReference>CaseCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>AnimalsWithMatchBreed</name>
        <label>AnimalsWithMatchBreed</label>
        <locationX>528</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AnimalsWithMatchingBreedLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Breed__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MissingAnimalBreedClassification</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Animal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>missingAnimalsIds</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-07-07</startDate>
            <startTime>07:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TempCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
